@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyBoilerplate.Web.Modules.AdminModule.AddUserViewModel>
@{
    Layout = "_Layout";
}

<form method="post">
    <input type="text" placeholder="username" name="UserName" required/> <br />
    <input type="email" placeholder="email" name="Email" required/> <br />
    <input type="password" placeholder="password" name="Password" required/> <br />
    <input type="number" placeholder="0" name="Amount" required/> <br />

    <input type="submit" />
</form>

       