@using Nancy.Security
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyBoilerplate.Web.Modules.UserModule.ChangePasswordViewModel>
@{
    Layout = "_Layout";
}

<form method="post">
    <span style="color:red">@Model.CurrentPasswordError</span><br />
    <input type="password" placeholder="Current Password" name="CurrentPassword" /> <br />
    <span style="color:red">@Model.NewPasswordError</span><br />
    <input type="password" placeholder="New Password" name="NewPassword" /> <br />
    <span style="color:red">@Model.RepeatPasswordError</span><br />
    <input type="password" placeholder="Repeat Password" name="RepeatPassword" /> <br />

    <input type="submit" />

</form>