@using Nancy.Security
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyBoilerplate.Web.Modules.UserModule.ChangePasswordViewModel>
@{
    Layout = "_Layout";
}

<form method="post">
    @if(@Model.CurrentPasswordHasError){<span style="color:red">Your password is invalid</span><br />}
    <input type="password" placeholder="Current Password" name="CurrentPassword" /> <br />
    @if(@Model.NewPasswordHasError){<span style="color:red">New Password Null</span><br />}
    <input type="password" placeholder="New Password" name="NewPassword" /> <br />
    @if(@Model.RepeatPasswordHasError){<span style="color:red">The passwords you introduced don't match</span><br />}
    <input type="password" placeholder="Repeat Password" name="RepeatPassword" /> <br />

    <input type="submit" />

</form>