@using Nancy.Security
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyBoilerplate.Web.Modules.UserModule.TransactionListViewModel>
@{
    Layout = "_Layout";
}

<table>
    <tr>
        <td>
            Receiver
        </td>
        <td>
            Sender
        </td>
        <td>
            Amount
        </td>
        <td>
            Date
        </td>
    </tr>
@foreach (var transaction in Model.Transaction)
{
    <tr>
        <td>@transaction.Receiver.Email</td>
        <td>@transaction.Sender.Email</td>
        <td>@transaction.Amount</td>
        <td>@transaction.Date</td>
    </tr>
}

</table>   