@using Nancy.Security
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyBoilerplate.Web.Modules.UserModule.TransactionViewModel>
@{
    Layout = "_Layout";
}

<form method="post">
    @if(@Model.EmailHasError){<span style="color:red">There is no user with this email</span><br />}
    <input type="email" placeholder="Email" name="Email" value="@Model.Email" /> <br />
    @if (@Model.NotEnoughMoney){<span style="color:red">You don't have this much money</span><br />}
    @if (@Model.AmountInvalid){<span style="color:red">The amount introduced is invalid</span><br />}
    <input type="number" placeholder="0" name="Amount" value="@Model.Amount" /> <br />

    <input type="submit" />

</form>